@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");

* {
  font-family: Quicksand !important;
}

.background1{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(81, 133, 175, 0.527);

}

.background{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(81, 133, 175, 0.527);

}
.shadow{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 100%;

}
.auth-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.auth-form{
  display: flex;
  flex-direction: column;
  gap:1rem;
  border: solid;
  background-color: rgba(95, 121, 160, 0.89);
  height: 50vh;
  width: 40vh;
  border-radius: 5%;
  align-items: center;
  justify-content: center;

}
.input{
  border: none;
  border-radius: 3%;

}

.by-goksu{
  text-align: center;
  background-color: black;
  color: white;
  display: inline;
  font-size: 0.5rem;

}